@charset "utf-8";


	body {
    background-color: beige;/*changes the colour of the text*/
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	
	}
	
	
	/* HEADER */
	.titleSquare {
		background-color: green;/*changes the colour of the Title box*/
		padding: 40px;/*increases/decreases the size of the border of the object*/
		text-align: center;
		
}
	
	/*SUPPLACTION*/
	.supplications-section {
		display: flex; /*Puts boxes side by side*/
		justify-content: space-between; /* Puts space between the boxes so they spread out */
		width: 90%;
		margin: 40px auto;
	
	}
	
	.supplicationsBox {
		
		width: 48%;
		height: 150px;
		text-align: center;
		padding-top: 40px;
		font-size: 20px;
		background-color: #ffbb99;
}

	/* ARTICLES BOX */
	.articles-box {
		width: 90%;
		margin: 20px auto;
		height: 80px;
		background-color: #e6e6e6;
		text-align: center;
		padding-top: 25px;
		font-size: 24px;
}

	/* NAV ICONS */
	.nav-icons {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 20px auto;
}
	.nav-item {
		width: 22%;
		height: 90px;
		border: 2px solid black;
		text-align: center;
		padding-top: 30px;
		background-color: white;
}

/* PRAYER TIMES SECTION */
	.prayer-times {
		background-color: #ffe6b3;
		width: 90%;
		margin: 40px auto;
		padding: 20px;
		border-radius: 15px;
}

	.prayer-times table{
		width: 100%;
		font-size: 20px;
		text-align: center;
}
